{% extends "base.html" %}

{% block preview_after_navbar %}
  <!-- Reservation Start -->
  <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
      <div class="row g-0">
          <div class="col-md-6">
              <div class="video">
              </div>
          </div>
          <div class="col-md-6 bg-dark d-flex align-items-center">
              <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                  <h5 class="section-title ff-secondary text-start text-primary fw-normal">Reservation</h5>
                  <h1 class="text-white mb-4">Book A Table Online</h1>
                  <form method="post" action="" novalidate>
                    {% csrf_token %}
                      <div class="row g-3">
                          <div class="col-md-4">
                              <div class="form-floating">
                                  {{ form.name }}
                                  <label for="{{ form.name.id_for_label }}">
                                    Your Name
                                    {% for error in form.name.errors %}
                                      <span class="text-danger mb-4">{{ error }}</span>
                                    {% endfor %}
                                  </label>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-floating">
                                  {{ form.email }}
                                  <label for="{{ form.email.id_for_label }}">
                                    Your Email
                                    {% for error in form.email.errors %}
                                      <span class="text-danger mb-4">{{ error }}</span>
                                    {% endfor %}
                                  </label>
                              </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-floating">
                              {{ form.phone }}
                              <label for="{{ form.phone.id_for_label }}">
                                Your Phone
                                {% for error in form.phone.errors %}
                                  <span class="text-danger mb-4">{{ error }}</span>
                                {% endfor %}
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-floating date" id="date3" data-target-input="nearest">
                                  {{ form.date_time }}
                                  <label for="{{ form.date_time.id_for_label }}">
                                    Date & Time
                                    {% for error in form.date_time.errors %}
                                      <span class="text-danger mb-4">{{ error }}</span>
                                    {% endfor %}
                                  </label>
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-floating">
                              {{ form.number_of_people }}
                              <label for="{{ form.number_of_people.id_for_label }}">
                                No Of People
                              </label>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-floating">
                              {{ form.special_request }}
                              <label for="{{ form.special_request.id_for_label }}">
                                Special Request
                              </label>
                            </div>
                          </div>
                          <div class="col-12">
                              <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!-- Reservation End -->

{% endblock %}
