{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
  <a href="{% url 'meal:index' %}" class="navbar-brand p-0">
    <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restaurant</h1>
    <!-- <img src="{% static 'img/logo.png' %}" alt="Logo"> -->
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="fa fa-bars"></span>
  </button>

  {% if user.is_authenticated %}
    <li class="nav-item nav-link">Hello <a href="">{{ user.get_username }}</a></li> |
    <li class="nav-item nav-link"><a href="{% url 'logout'%}?next={{request.path}}">Sign-out</a></li>
  {% else %}
    <li class="nav-item nav-link"><a href="{% url 'login'%}?next={{request.path}}">Sign-in</a></li> |
    <li class="nav-item nav-link"><a href="{% url 'registration'%}?next={{request.path}}">Sign-up</a></li>
  {% endif %}

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto py-0 pe-4">
      <a href="{% url 'meal:index' %}" class="nav-item nav-link active">Home</a>
      <a href="{% url 'meal:about' %}" class="nav-item nav-link">About</a>
      <a href="{% url 'meal:service' %}" class="nav-item nav-link">Service</a>
      <a href="{% url 'meal:menu' %}" class="nav-item nav-link">Menu</a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
        <div class="dropdown-menu m-0">
          <a href="{% url 'meal:booking' %}" class="dropdown-item">Booking</a>
          <a href="{% url 'meal:team' %}" class="dropdown-item">Our Team</a>
          <a href="{% url 'login'%}?next={{request.path}}" class="dropdown-item">Login</a>
        </div>
      </div>
      <a href="{% url 'meal:contact' %}" class="nav-item nav-link">Contact</a>
    </div>
    <a href="{% url 'meal:booking' %}" class="btn btn-primary py-2 px-4">Book A Table</a>
  </div>
</nav>
